*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# --- Credenciales y Firmas ---
gradle.properties
keystore.properties
*.jks
*.keystore

# --- Android / Gradle ---
/build/
**/build/

# --- IDE (Android Studio / IntelliJ) ---
.idea/
/uitaycompose/
