# --- Android / Gradle ---
.gradle
/build/
**/build/

# --- Configuraciones locales y credenciales (¡Importante!) ---
gradle.properties
local.properties
keystore.properties
*.iml

# --- IDE (Android Studio / IntelliJ) ---
.idea/
.DS_Store
*.hprof
.cxx/
captures/

/uitaycompose/