# --- Credenciales y Firmas ---
gradle.properties
local.properties
keystore.properties
*.jks
*.keystore
*.iml

# --- Android / Gradle ---
.gradle
/build/
**/build/

# --- IDE (Android Studio / IntelliJ) ---
.idea/
.DS_Store
/uitaycompose/