# --- Credenciales y Firmas ---
gradle.properties
local.properties
keystore.properties
*.jks
*.keystore
*.iml

# --- Android / Gradle ---
.gradle
/build/
**/build/

# --- IDE (Android Studio / IntelliJ) ---
.idea/
.DS_Store
/uitaycompose/


/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx